*
{
    padding: 0;
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}

/*INDEX*/

/*Seccion 1 de la pagina WEB*/
.encabezado
{
    height: 9%;
}
a
{
    font-weight: bold;
    font-size: 20px;
    color: brown;
}

.flex-container
{
    background-image: url(assets/vuelo.jpg);
    background-size:cover;
    height: 91%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.grid-layout
{
    height: 400px;
    width: 500px;
    background-color: #323232;
    border: 4px solid #414AFF;
    border-radius: 50px;
    margin: 25px;

    display: grid;
    grid-template-areas:    'titulo'
                            'contenido'
                            'arma';

    grid-template-rows: 25% 55% 20%;
}
.caja
{
    color: white;
}

/*Areas del GRID*/
.titulo
{
    grid-area: titulo;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
}
.contenido
{
    grid-area: contenido;
    padding: 25px;
}
.arma
{
    grid-area: arma;
    text-align: center;
    line-height: 50px;
}

/*Seccion 2 de pa pagina WEB*/

.container-fluid
{
    background: rgb(147,117,105);
    background: linear-gradient(125deg, #775C52 0%, rgba(189,125,99,1) 25%, rgba(242,149,110,1) 50%, rgba(183,104,78,1) 75%, #83414D 100%);
}

.arriba
{
    height: 15%;
}
.main
{
    height: 55%;
}
.botones
{
    height: 20%;
}
.footer
{
    height: 10%;
}

.playa
{
    background: url(assets/playa.jpg) -100px 0px;
    background-size: cover;
}
.montaña
{
    background: url(assets/montaña.jpg) -100px 0px;
    background-size: cover;
}
.ciudad
{
    background: url(assets/cuidad.jpg) -150px 0px;
    background-size: cover;
}


.caja2
{
    text-align: center;
    padding-top: 15px;
}

/*HOVER´S*/

.ciudad:hover
{
    border: 5px solid #414AFF;
    border-radius: 15px;
}

.montaña:hover
{
    border: 5px solid #414AFF;
    border-radius: 15px;
}

.playa:hover
{
    border: 5px solid #414AFF;
    border-radius: 15px;
}

/*CONTACTO*/

.body-contacto
{
    background-color: #414AFF;
}